<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mekka.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4CEC13246371AD2D4A99F60EB3C2995CB6B48A1D</string>
				<key>dateExpires</key>
				<string>2024/12/12</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>23.10.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CEC13246371AD2D4A99F60EB3C2995CB6B48A1D</string>
						<key>dateExpires</key>
						<string>2024/12/12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WMQHGJMYR8</string>
						<key>name</key>
						<string>Yosuke Kojima</string>
					</dict>
					<key>versionNumber</key>
					<string>23.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.0.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CEC13246371AD2D4A99F60EB3C2995CB6B48A1D</string>
						<key>dateExpires</key>
						<string>2024/12/12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WMQHGJMYR8</string>
						<key>name</key>
						<string>Yosuke Kojima</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CEC13246371AD2D4A99F60EB3C2995CB6B48A1D</string>
						<key>dateExpires</key>
						<string>2024/12/12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMaps.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WMQHGJMYR8</string>
						<key>name</key>
						<string>Yosuke Kojima</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>30</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CEC13246371AD2D4A99F60EB3C2995CB6B48A1D</string>
						<key>dateExpires</key>
						<string>2024/12/12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxMobileEvents.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WMQHGJMYR8</string>
						<key>name</key>
						<string>Yosuke Kojima</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CEC13246371AD2D4A99F60EB3C2995CB6B48A1D</string>
						<key>dateExpires</key>
						<string>2024/12/12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WMQHGJMYR8</string>
						<key>name</key>
						<string>Yosuke Kojima</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CEC13246371AD2D4A99F60EB3C2995CB6B48A1D</string>
						<key>dateExpires</key>
						<string>2024/12/12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WMQHGJMYR8</string>
						<key>name</key>
						<string>Yosuke Kojima</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WMQHGJMYR8.com.mekka.mekka</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WMQHGJMYR8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Mekka.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>41faf4a5-8310-43cc-b685-614fbadcf43f</string>
				<key>dateExpires</key>
				<string>2024/12/12</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.mekka.mekka</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WMQHGJMYR8</string>
				<key>name</key>
				<string>Yosuke Kojima</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.14</string>
		</dict>
	</array>
</dict>
</plist>
